html
{

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    max-width: 1300px;
    margin: 0 auto;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #f4f4f4;
}

.logo {
    order: 1;
}

.menu {
    order: 2;
}

.menu a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.hero {
    text-align: center;
    padding: 3rem 5%;
    background-color:white;
}

.titulo {
    font-size: 2.5rem;
    color: #2B2B2B;
    margin-bottom: 1rem;
}

.subtitulo {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

.boton {
    background-color: #285E67;
    color: #fff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: black;
}

.imagenes-principales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 2rem 5%;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bienestar {
    padding: 2rem 5%;
    background-color: #F4F4F4;
    text-align: center;
}

.contenedor-bienestar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.bloque {
    max-width: 300px;
    text-align: center;
}

.imagen-yoga img {
    width: 100%;
    height: auto;
}

.productos-organicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 5%;
    align-items: center;
}

.imagen-producto img {
    max-width: 100%;
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.descripcion-productos ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
}
.descripcion-productos img{
    margin: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.frase-motivacional {
    text-align: center;
    padding: 2rem 5%;
    background-color: #e8f5e9;
}
.beneficios {
    text-align: center;
    padding: 2rem 5%;
    background-image: url('imagenes/seccion6.png');
}

.beneficios p{
    color: white;
}

.titulo2{
    color: white;
}

.beneficios .boton
{
    background-color: transparent;
    color: #fff;
    border: solid white 1px;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.beneficios .boton:hover {
    background-color: #285E67;
}

.iconos {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 2rem;
    background-color: #FCE2D7;
    border-radius: 10px;
}

.icono {
    padding: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 20px;
}

.pie {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #285E67;
    padding-bottom: 150px;
}

.logo-foot {
    order: 1;
}

.enlaces {
    order: 2;
}

.enlaces a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.redes-sociales
{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #666;
}